
@font-face {
  font-family: "Avenir Next";      
  src: url('../fonts/avenir-next-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Avenir Next";      
  src: url('../fonts/avenir-next-bold-normal.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
